<div class="container mt-4" style="max-width: 600px;">
  <h1 class="text-primary text-center">Twitter Clone</h1>

  <!-- ツイート投稿フォーム -->
  <div class="card p-3 mb-4">
    <h2 class="h4">Alice</h2>
    <%= form_with model: @new_tweet, url: tweets_path, local: true, html: { class: "mb-3" } do |form| %>
      <div class="mb-3">
        <%= form.text_area :content, class: "form-control", placeholder: "いまどうしてる？", required: true %>
      </div>
      <div class="d-flex justify-content-end">
        <%= form.submit "Tweet", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <!-- ツイート一覧 -->
  <h2 class="h4">ツイート</h2>
  <ul class="list-group">
    <% @tweets.each do |tweet| %>
      <li class="list-group-item">
        <p class="text-info fw-bold"><%= tweet.user.name %></p>
        <%= tweet.content %>
      </li>
    <% end %>
  </ul>
</div>
